.nav {
    display:flex;
    justify-content: space-between;
   

}
#logo{
    margin-right: 500px;
}
.header{
    margin-left: 175px;
    margin-right: 200px;
    
   

    
}
.head-foot{
    margin-top: 100px;
    display: flex;
}
img{
    width: 500px;
    margin-left: 200px;
}
#h12{
    margin-left: 300px;
    margin-top: 70px;
}
.flex-box{
    display: flex;
    margin-left: -50px;
    height: 200px;
    width: 300px;
    
   
   
  
  
}
.item{
    margin-left: 50px;
    border-radius: 10px;
    height: 200px;
    width: 200px;

}
.flex-info{
    display: flex;
}

.quote{
    height: 350px;
    background-color: grey;
    margin-bottom: 100px;
}

.foot-info{
    height: 175px;
    border-radius: 20px;
    background-color:#3882f6 ;
    margin-bottom: 100px;
    align-content: center;
    padding-left:200px;
    padding-bottom: 50px;
    color: white;

    
    

}
.footer{
    height: 100px;
    background-color: #1f2937;
    color:white;
    padding-left: 600px;
    padding-top: 30px;
}
#foot{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border-color: white;
    background-color:#3882f6 ;
    color: white;
    margin-left: 500px;
    
}


